@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,500&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f1f3f8;
  }
  
  h1 {
      margin: 0;
    font-size: 1.75em;
  }
  
  h2 {
      margin: 0;
    font-size: 1.15em;
    color: gray;
    font-weight: 600;
  }
  
  h4 {
    display: inline;
    font-size: 14px;
    font-weight: 600;
  }
  
  .icon {
    font-size: 4em;
    margin: 0;
  }

  .sm-icon {
      font-size: 2em;
      margin: 0;
  }
  
  .container {
    padding: 20px;
    max-width: 43%;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 20px auto;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  }
  
  .search {
    height: auto;
    background-color: #f7f7f7;
    margin-bottom: 50px;
  }
  
  #form-input {
    background-color: #f7f7f7;
    border: none;
    color: black;
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  }
  
  form {

    width: 100%;
  }
  
  #form-input:focus {
    outline: none;
    background-color: #f7f7f7;
  }
  
  #form-input:active {
    background-color: #f7f7f7;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .main {
    height: auto;
  }
  
  .forecast {
    height: 250px;
  }
  
  button {
    padding: 17px 25px;
    background-color: #add2eb;
    color: #163d57;
    border: none;
    border-radius: 5px;
  
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    transition: background-color linear 20ms;
  }
  
  button:hover {
    background-color: #2196f3;
    color: white;
    transform: translateY(1px);
  }
  
  .celsius {
    color: gray;
  }
  
  input {
    height: 48px;
  }
  
  .degrees {
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
    top: -15px;
    font-size: 1rem;
    left: 5px;
    font-weight: 300;
  }
  
  a {
    text-decoration: none;
  }
  
  .temperature-section {
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  .details {
      display: block;
      margin-left: 20px;
      margin-right: 20px;
  }

  .details-list {
      list-style: none;
     padding: 5px;
     text-align: left;
  }

  #description {
    margin-top: -5px;
  }

 li {
      line-height: 15pt; 
      color: gray;
  }
  
  #right {
    float: right;
  }
  
  .temp {
    font-size: 4em;
    margin-left: 10px;
  }
  
  .location {
    float: right;
    width: 35%;
    text-align: right;
    line-height: 20pt;
    margin-right: 10px;
  }

  .weather-description {
    float: left;
    width: 100%;
    text-align: left;
    line-height: 20pt;
    margin-left: 17px;
  }
  
  .next-days {
      margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 100%;
  }

  .next-days li {
      font-size: 1.15em;
      padding-bottom: 10px;
      padding-top: 10px;
      color: black;
      font-weight: 600;
  }

  .next-days ul:active {
    background-color: #daf0ff69;
    border-radius: 8px;
  }


  ul {
      list-style: none;
      padding-bottom: 15px;
      padding: 0;
      text-align: center;
  }

  
  

  
  .search-button {
    margin-left: 30px;
  }
  
  .current {
    color: white;
    background-color: #163d57;
    float: right;
    margin-left: 10px;
  }
  

  .attribution {
    text-align: center;
    margin-top: 0px;
    align-items: center;
  }